@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-tab: #f8fafc;
}

.dark {
  --color-tab: #1e293b;
}

@layer base {
  p {
    font-size: large;
  }
}
